* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F0F2F5;
}

button {
  cursor: pointer;
}

body, input, button {
  font: 400 1rem "Roboto", sans-serif;
}
input:focus {
  outline: 0;
}